body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .cart {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
  
  .cart-item h3 {
    margin: 0;
    flex-grow: 1;
  }
  
  .cart-item button {
    background-color: #ff009d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color:  #ff009d;
  }
  
  .cart-item .like {
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .cart-item .like.liked {
    color: rgb(204, 0, 255);
  }
  
  .cart-total {
    text-align: right;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  input.quantity {
    width: 50px;
    text-align: center;
  }
  